.profiles-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.profiles-blog-post-card:hover {
  transform: scale(1.02);
}
.profiles-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.profiles-container {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.profiles-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.profiles-text {
  color: #595959;
  font-weight: 600;
  text-transform: uppercase;
}
.profiles-text1 {
  color: #595959;
  font-weight: 300;
}
.profiles-text2 {
  margin-bottom: var(--dl-space-space-twounits);
}
.profiles-text3 {
  color: #595959;
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.profiles-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profiles-profile {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
}
.profiles-text4 {
  color: #000000;
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 991px) {
  .profiles-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .profiles-blog-post-card {
    flex-direction: column;
  }
  .profiles-image {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .profiles-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .profiles-text4 {
    width: auto;
  }
}
